fieldset {
    font-size: 30px;
    width: 50%;
  }

  button {
    padding: 15px;
    margin: 15px;
    border-radius: 5%;
    color: black;
    background-color: orange;
    font-size: 18px;
    display: inline;
  }
  p {
    display: inline;
  }
  .session{
    float: left;
    width: 50%;
  }
  .local{
    float: left;
  }